<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/main/style.css">
    <title>Landing page</title>
</head>
<body>
    <!--  landing page / index-->
    <div id="landing" class= "landing">
        <!-- navbar -->
    <nav class="navbar container-fluid navbar-expand-lg  navbar-trasparent fixed-top" style="padding-left: 20px;">
        <!-- <div class="kotak">    -->
          <a class="navbar-brand" href="#"> <img height="70px" src="assets/icon.ico" alt="ikon"></a>
          <button class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarText" 
          aria-controls="navbarText" aria-expanded="false" 
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <img src="./assets/scroll-down.svg" alt="bawah">
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-3 px-5">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#theGames">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#berita">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#berita">ABOUT ME</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
            <span class="navbar-text">
              <a class="nav-link" href="#">SIGN UP</a>
            </span>
            <span class="navbar-text">
              <a class="nav-link" href="/login">LOGIN</a>
            </span>
            </ul>
          </div>
        <!-- </div> -->
      </nav>
      <!-- end navbars -->
        <div class="container-fluid text-center banner">
            <h7 class="display-1">PLAY TRADITIONAL GAME</h7>
            <h4 class="h4">Experience new traditional game play</h4>
            <button type="button" class="btn btn-warning btn-lg" id="tombolGame"> <a href="/login"> PLAY NOW                
            </a>
            </button>
        </div>
        <div class="container theStory">
            <a style="text-decoration: none; font-size: 14px ; color: white;" href="#">  THE STORY <br>
            <img src="assets/scroll-down.svg" alt="scroll down"></a> 
            </div>     
    </div>    <!-- end of landing page / index -->
  <!-- THE GAMES -->
  <div id="theGames" class="theGames">
    <div class="container-fluid carousel-contain">
      <div class="container">
        <div class="row">
          <div class="col-6">
          <h5>What's So Special?</h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-5">
          <p class="text"> THE GAMES </p>
          </div>
          <div class="col col-7">
      <!-- carousel -->
      <div id="carouselExampleIndicators" class=" container carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="1">
          </div>
          <div class="carousel-item">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="2">
          </div>
          <div class="carousel-item">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
          </div>
        </div>
      </div> <!--end carousel-->
    </div> <!--end story-->
  </div>  <!-- end of the games -->
  <!-- landing / features -->
    <div id="fitur" class="fitur">
      <div class="container-xs fiturKiri">
        <div class="row row-cols-1 mb-0">
          <div class="col">
            <p class="mb-0" style="font-size: 20px;"> What's So Special?</p>
            <p class="judul">FEATURES</p>
          </div>
          <div class="col">
            <p class="subJudul"> TRADITIONAL GAMES</p>
            <div class="row">
              <p class="mb-5" style="font-size: 12px;"> if you miss your childhood, we provide many traditional games here</p>
            </div>
          </div>
          <div class="col">
            <p class="subJudul1"> game Suit</p>
          </div>
          <div class="col">
            <p class="subJudul1"> TBD</p>
          </div>
        </div>
      </div>
    </div>    <!-- end of reatures -->
      <!-- landing / system requirement -->
      <div id="sistem" class="sistem">
        <div class="judul">
          can my computer run this game ?
        </div>
          <div class="p1 col-2">
           SISTEM  REQUIREMENT 
          </div>
          <div class="kartu">
            <div class="card-group col-md-6">
              <div class="card border-transparent">
                <div class="card-body">
                  <h5 class="card-title"> OS : </h5>
                  <p class="card-text">Windows 7 64-bit only 
                    (No OSW support at this time)
                   </p>
                </div>
              </div>
              <div class="card">
               <div class="card-body">
                 <h5 class="card-title"> PROCESSOR : </h5>
                 <p class="card-text">Intel Core 2 Duo @ 2.4 GHZ or
                   AMD Athlon X2 @ 2.8 GHZ 
                  </p>
               </div>
             </div>                
           </div>
           <div class="card-group col-md-6">
             <div class="card border-transparent">
               <div class="card-body">
                 <h5 class="card-title"> MEMORY : </h5>
                 <p class="card-text">4 GB RAM
                  </p>
               </div>
             </div>
             <div class="card">
              <div class="card-body">
                <h5 class="card-title"> Storage : </h5>
                <p class="card-text">8 GB available space 
                 </p>
              </div>
            </div>                
          </div> 
          <div class="card-group col-md-6">
           <div class="card border-transparent">
             <div class="card-body">
               <h5 class="card-title"> GRAPHICS : </h5>
               <p class="card-text col-sm-12">NVIDIA Geforce GTX 660 2GB or
                  AMD Radeon HD 7850 2GB DirectX11 (Shader Model5)
                </p>
             </div>
           </div>
          </div> 
          </div>
      </div>  <!-- end of system requirement -->
      <!-- landing top score -->
      <div id="topScore" class="topScore">
        <div class="row top1">
          <div class="col top1">
            <div class="card">
              <div class="row">
                <div class="col-3" style="padding-left: 23px; padding-top: 10px;">
                <img src="./assets/evan-lahti.jpg" class="bgikon" alt="bgikon">
              </div>
              <div class="col-6"><p style="margin: 0;">EVAN LAHTI</p>
                <p class="sub">PC GAMERS</p></div>
              <div class="col-2" style="padding-left: 40px;"> <img src="./assets/twitter.svg" alt="icon"></div> 
              </div>
              <div class="card-body">
                <p class="card-text">"One of my gaming highlights of the years."</p>
                <div class="card-footer text-muted" style="padding-left: 0%; padding-top: 0%;">
                  JUNE 18, 2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="judul">
          <div class="row">
            <div class="col">
              TOP SCORES
            </div>
          </div>  
              <div class="col col-sm-8 subText">
                this top score from various games provided on this platform  
              </div>
              <div class="col col-sm-6 pt-5">
                <button type="button" class="btn btn-warning btn-lg bt" style="width: 73%;"> see more                
                </button>
              </div>
        </div>
        <!-- card -->
        <div class="row" style="padding-inline-start: 50%; position: relative; top: -15%;">
          <div class="col top2">
            <div class="card" style="margin-bottom: 20px;">
              <div class="row">
                <div class="col-3" style="padding-left: 23px; padding-top: 10px;">
                <img src="./assets/jada-griffin.jpg" class="bgikon" alt="bgikon">
              </div>
              <div class="col-6"><p style="margin: 0;">Jadda Griffin</p>
                <p class="sub">Nerdreactor</p></div>
              <div class="col-2" style="padding-left: 40px;"> <img src="./assets/twitter.svg" alt="icon"></div> 
              </div>
              <div class="card-body">
                <p class="card-text">"The next big thing in the world of streaming and survival games"</p>
                <div class="card-footer text-muted" style="padding-left: 0%; padding-top: 0%;">
                  JULY 10, 2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row top3">
          <div class="col">
            <div class="card">
              <div class="row">
                <div class="col-3" style="padding-left: 23px; padding-top: 10px;">
                <img src="./assets/aaron-williams.jpg" class="bgikon" alt="bgikon">
              </div>
              <div class="col-6"><p style="margin: 0;">Aaron Williams</p>
                <p class="sub">Uproxx</p></div>
              <div class="col-2" style="padding-left: 40px;"> <img src="./assets/twitter.svg" alt="icon"></div> 
              </div>
              <div class="card-body">
                <p class="card-text">"Snoop dogg playing the wildly enteraining 'SOS' is ridiculous."</p>
                <div class="card-footer text-muted" style="padding-left: 0%; padding-top: 0%;">
                  DECEMBER 24, 2018
                </div>
              </div>
            </div>
          </div>
        </div>   <!-- end card -->
      </div>   <!-- end of top score -->
        <!-- landing newsletters -->
        <div id="berita" class="berita">
          <img class="logo" src="./assets/skull.png" alt="logo">
         <div class="box">
          <div class="text">
            what to stay in touch?
          </div>
              <div class="banner">
                NEWSLETTERS SUBSCRIBE
              </div>
                <div class="sub"> in order to start receiving our news, all you have to do is enter your email
                  address. Everythings else will be taken care of by us. We will send your emails
                  containing information about games. We don't spam.
                </div>
                    <div class="form" style="display: flex;">
                      <div class="row">
                        <div class="col col-sm-12">
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="youremail@binar.co.id">
                        </div>
                          <div class="col col-sm-12">
                            <button class="button-sus">
                            subscribe now
                            </button>
                          </div>
                      </div>
                    </div>
            </div>
            <div class="navi-bot">
              <div class="row">
                <div class="col "> <a class="nav-link" href="#landing">main</a></div>
                <div class="col"> <a class="nav-link" href="#theGames">about</a></div>
                <div class="col-2"> <a class="nav-link" href="#fitur">game features</a></div>
                <div class="col-2"> <a class="nav-link" href="#sistem">system requirement</a> </div>
                <div class="col"> <a class="nav-link" href="#topScore">quote</a> </div>
                    <div class="col-1 col-sm-none"> <a href="#"><img src="./assets/facebook.svg" alt="fb"></a> </div>
                    <div class="col-1 col-sm-none"> <a href="#"><img src="./assets/twitter.svg" alt="twitter"></a></div>
                    <div class="col-1 col-sm-none"> <a href="#"><img src="./assets/vector.svg" alt="youtube"></a></div>
                    <div class="col-1 col-sm-none"> <a href=""><img src="./assets/twitch.svg" alt="twi"></a></div>
              </div>
            </div>
            <div class="foot-bot">
              <div class="row">
                <div class="col-6 text-muted"> 2018 Your Games, Inc All rights reservered</div>
                <div class="col-2 foot"> <a class="foot" href="#bottom"> PRIVACY POLITY </a></div>
                <div class="col-2 foot"> <a class="foot" href="#bottom"> TERMS SERVICES </a></div>
                <div class="col-2 foot"> <a class="foot" href="#bottom"> CODE OF CONDUCT </a></div>    
              </div>
            </div>
            <hr style="position: relative;top: 13%;">
            <hr style="margin-right: 7%;margin-left: 4%;">
          </div>
        </div>  <!-- end of newsletters -->
</body>
</html>