<!-- include header -->
<%- include("include/_header")  %>

<!-- main update page -->
    <main id="site-main">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/dashboard">Lihat Semua Pengguna Yang ada</a>
            </div>
        </div>
        <div class="text-center form-title">
            <h2 class="text-dark"> Update Pengguna </h2>
            <span class="text-light"> Silakan Isi Form Yang Akan Di Update </span>
        </div>

        <!-- include form update -->
        <%- include("include/_form_update")  %> 
    </main>

<%- include('include/_footer')  %> 